.App {
  text-align: center;
}

.Calendar {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: center;
  height: 100vh;
  /* overflow: hidden; */
}

.ReservationList {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: center;
  height: 100vh;
  /* overflow: hidden; */
}