.Calendar {
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: center;
    height: 100vh;
}

.calendar {
    width: 900px;
    height: max-content;
    display: flex;
    position:absolute;
    flex-direction: column;
    background-color: #F4F4F4; /* Light gray background */
    border: 1px solid #DADADA; /* Light gray border */
    border-radius: 10px; /* Rounded corners */
    padding-left: 3px;
    overflow: auto;
}

.calendar-header {
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0; /* Header background color */
}

.calendar-header h2 {
    text-transform: uppercase;
    color: #333333; /* Dark gray text color */
}

.calendar-body {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.table-header {
    height: 3.4rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.weekday {
    width: 100px;
    height: 39px;
    text-align: center;
    background-color: #747264; /* Dark gray weekday background */
    border-radius: 10px; /* Rounded corners */
    display: flex;
    align-items: center;
    justify-content: center;
}

.weekday p {
    color: white;
    text-transform: uppercase;
}

.table-content {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 30px;
    padding-left: 0.3rem;
}

.calendar-day {
    width: 100px;
    height: 75px;
    position: relative;
    border-radius: 10px; /* Rounded corners */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.calendar-day:hover {
    background-color: rgba(0, 0, 0, .10); /* Light gray hover effect */
}

.calendar-day p {
    position: absolute;
    color: #333333; /* Dark gray text color */
}

.current {
    background-color: #E0CCBE; /* Light brown current day background color */
    border: 1px solid #a6a6a6;
}

.current p {
    color: #000000;
}

.selected p {
    color: #cc0000; /* Red selected day text color */
    font-weight: bold;
}
