@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.reserved {
  background-color: grey; /* or any other style to darken the seat */
  color: white; /* text color for better visibility */
}

body {
  overflow: hidden;
}

.movieSelect {
  background-image: url("MovieSelect.png");
  background-size: cover;
  background-position-y: 20%;
  background-attachment: fixed;
}

/* Date and time styles */
.date {
  position: absolute;
  top: 95px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 34px; /* Responsive font size */
  color: #FFFFFF;
}

.date-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-time {
  font-size: 2.5vw; /* Responsive font size */
  color: #FFFFFF;
  position: absolute;
  top: 5px;
  right: 40px;
}

/* Movie grid styles */
.movie-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4%; /* Adjust the gap between movie items */
  padding: 10vw; /* Responsive padding */
}

.movie-item {
  flex: 0 0 calc(20% - 1%);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 1vw; /* Responsive margin bottom */
}

.movie-item img {
  width: 80%; /* Make the image fill its container */
  height: auto; /* Automatically adjust height to maintain aspect ratio */
  border-radius: 1vw; /* Responsive border radius */
  margin-bottom: 2vw; /* Responsive margin bottom */
  transition: transform 0.3s ease;
}

/* Add hover effect */
.movie-item img:hover {
  transform: translateY(-5px); 
}

/* Media queries for responsiveness */
@media (max-width: 990px) {
  .movie-item {
    flex: 0 0 calc(33.33% - 1%);
  }
}

@media (max-width: 670px) {
  .movie-item {
    flex: 0 0 calc(50% - 1%);
  }
}

/* Movie info styles */
.cinema-data {
  font-size: 2.5vw; /* Responsive font size */
  font-weight: bold;
  text-align: center;
  margin-bottom: 1vw; /* Responsive margin bottom */
  margin-top: 9vw; /* Responsive margin top */
  color: #ECF0F1;
}

.movie-info h2 {
  margin-top: 0.5vw; /* Responsive margin top */
  text-align: center;
  font-size: 1.2vw; /* Responsive font size */
  color: #ECF0F1; /* Light gray text for movie titles */
}