body{
  background-color: #09131E;
}

.premiertime-row {
  background-color: black; /* Your preferred color for premier time rows */;
}

.notpremiertime-row {
  background-color: #007bff;
}

.seat-selection {
  width: 550px;
  background-color: #37506D;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.seat-selection .reserved {
  background-color: grey; /* or any other style to darken the seat */
  color: white; /* text color for better visibility */
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.containers {
  display: flex;
  width: 100vw;
  justify-content: center; 
  margin-top: 1.2em;
  gap: 20px;
  align-items: center; /* Center children vertically */

}

.left-panel {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  color: white;
}

.date-selected {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.date-display{
  margin-bottom: 15px;
}

.time-schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.time-row button {
  background-color: #EDF5FF;
  border-color: #EDF5FF;
  border-radius: 10px;
  margin: 0 10px;
  width: 105px;
  height: 55px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.time-schedule button.selected {
  background-color: #007bff;
  color: white;
}

.time-schedule .premier-time {
  color: gold; /* Set the desired color for premier time */
}

.senior {
  display: flex;
  justify-content: center;
  align-items: center;
}

.senior-button {
  width: 190px;
  height: 60px;
  border-radius: 10px;
  background-color: #BE19C1;
  border: 1px solid #2C3E50;
  font-weight: bold;
  font-size: 28px;
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
}

.senior-button:hover {
  background-color: #EDF5FF;
  color: #BE19C1;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.seat {
  width: 80px;
  height: 50px;
  background-color: #EDF5FF;
  border-radius: 10px;
  font-weight: bold;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.seat.selected {
  background-color: #339E00;
  color: white;
  
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  width: 500px;
  height: 41px;
  font-size: 36px;
  background-color: #CA2222;
  color: #EDF5FF;
}

.right-panel-container {
  display: flex;
  left: 10;
  flex-direction: column;
  width: auto;
}

.right-panel-container .text-container {
  text-wrap: wrap;
  width: 100px;
}

.right-panel-container .text-container h1 {
  color: #EDF5FF;
}

.right-panel {
  width: 200px;
  padding: 10px;
  background-color: #EDF5FF;
  color: #09131E; 
  border-radius: 10px;
}

.summary {
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  
}

.summary p {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.summary-details {
  margin-left: auto;
}

.button-panel {
  width: 200px;
  padding: 20px;
  margin-top: 20px;
  gap: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.go-back-button {
  width: 80px;
  height: 45px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  border: 1px solid #ccc;

  border-radius: 5px;
  cursor: pointer;
}

.checkout-button {
  width: 150px;
  height: 45px;
  font-size: 18px;
  background-color: #2D8D00;
  color: #EDF5FF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.go-back-button:hover {
  background-color: #EDF5FF;
  color: #09131E;
}

.checkout-button:hover {
  background-color: #EDF5FF;
  color: #2D8D00;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
  display: flex;
  justify-content: center; 
  align-items: center; 
  z-index: 1000; 
}

.modal-content {
  margin: auto;
  width: 500px; 
  height: 250px; 
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 36px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkout-modal-buttons {  
  display: flex;
  justify-content: center; 
}

.checkout-modal-buttons button {
  width: 110px;
  height: 60px;
  padding: 10px; 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  margin: 0 10px;
}

.checkout-modal-buttons .yes-button {
  background-color: #5D9C59;
  font-size: 18px;
  margin-right: 20px;
}

.checkout-modal-buttons .no-button {
  background-color: #DF2E38;
  font-size: 18px;
  margin-left: 20px;
}

.senior-number {
  margin-bottom: 20px;
  margin-top: 2px;
}

.senior-input {
  width: 100px;
  height: 30px;
  font-size: 16px;
  padding: 5px;
  margin: 0 auto;
}

.seniorMosenior-modal-buttondalButton {
  display: flex;
  justify-content: center; 
}

.senior-modal-button button {
  width: 110px;
  height: 60px;
  padding: 10px; 
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  margin-top: 15px;
}

.senior-modal-button .submit-button {
  background-color: #5D9C59;
  font-size: 22px;
}

.modal-buttons button:focus {
  outline: none; 
}

.senior-modal-button button:focus {
  outline: none;
}